Customer Support.json
{
  "name": "Customer Support",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        264
      ],
      "id": "038cd0b1-d05b-4106-bf33-ffbfae969f17",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "rP0lkLxaVJceoReQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support",
              "description": "An email that is related to helping out a customer. They may be asking about our Cost Analysis Report  or questions about our products or services"
            },
            {
              "category": "Other",
              "description": "Any email that is not customer support related."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -160,
        264
      ],
      "id": "ebc23d2a-d8f2-40b4-8a84-52b95d3eab50",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -88,
        488
      ],
      "id": "ec89dc70-5201-43a8-8e43-201ba6094820",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "8hseBSMs1xJm1V50",
          "name": "Groq account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        224,
        416
      ],
      "id": "6c0cd88b-2f19-4833-8a0d-fedcb667223b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a customer support agent for Tech Haven. Your job is to respond to incoming emails with relevant information using your knowledgeBase tool.\n\n## Instructions\n- Your output should be friendly \n- Sign off as Mr. Helpful from Tech Haven Solutions\n\n## Output \n- Output only the body content of the email "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        -144
      ],
      "id": "552f616c-942d-4986-83b9-6ea6097268f1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        192,
        80
      ],
      "id": "48684852-9e64-44a7-b539-176730c13150",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "8hseBSMs1xJm1V50",
          "name": "Groq account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to access the Cost Analysis Report ",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo2",
          "mode": "list",
          "cachedResultName": "demo2"
        },
        "options": {
          "pineconeNamespace": "Cost Analysis Report"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        320,
        80
      ],
      "id": "09f3ae36-62d4-4643-9516-7599825fa816",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "qxycpuqIueg3FYxL",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        400,
        288
      ],
      "id": "ac23857c-6098-41b3-94aa-a3be2d5ff190",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "Q7nB3b4Qe9dKt69B",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        912,
        64
      ],
      "id": "882c49b8-7ffb-47ac-8af9-e2bd4f426b84",
      "name": "Reply to a message",
      "webhookId": "c1113b5b-f709-4584-aa18-703a20758cac",
      "credentials": {
        "gmailOAuth2": {
          "id": "rP0lkLxaVJceoReQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        688,
        64
      ],
      "id": "b48f48f5-67de-46b2-8f8a-3253a527cf24",
      "name": "Add label to message",
      "webhookId": "a8ac14bd-1d95-4f20-842b-8e35c967da34",
      "credentials": {
        "gmailOAuth2": {
          "id": "rP0lkLxaVJceoReQ",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3c85d542-9d22-4968-a7e0-e1c050164b5e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7e2858a0cd9d75427a61020139e2d35c1230b3f437e1628f8c37a7724b062cee"
  },
  "id": "HAeQrQAwSqZZMFFjGVvbw",
  "tags": []
}